.my-div {
    color: blue;
}

.header {
    padding: 30px;
    background-color:#00539C ;
}
.content {
    padding: 30px;
    background-color: #EEA47F;
    height: 300px;
}
.footer {
    padding: 30px;
    background-color:#00539C ;
}